.text {
    font-family: 'Roboto', sans-serif;
    font-size: 700rem;
}

#inp {
    border: 1px solid grey;
    height: 150px;
    width: 50%;
}

#copyData {
    border: 1px solid grey;
    height: 150px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}


#copyDataRaw {
    border: 1px solid grey;
    height: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    white-space: pre;
}
